---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a target="_blank" href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="about">
    <h1 class="about__title">About Me:</h1>
    <div class="about__content">
        {{ content }}
    </div>
    <a class="twitter-timeline" href="https://twitter.com/frozeder">Tweets by frozeder</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <h1 class="about__title">Projects showcase:</h1>
    <div class="about__content">
        .######..##..##....#####...#####....####....####...#####...######...####....####..
        ...##....###.##....##..##..##..##..##..##..##......##..##..##......##......##.....
        ...##....##.###....#####...#####...##..##..##.###..#####...####.....####....####..
        ...##....##..##....##......##..##..##..##..##..##..##..##..##..........##......##.
        .######..##..##....##......##..##...####....####...##..##..######...####....####..
    </div>
</div>

<!--<div class="blog">-->
    <!--<h1>Blog Posts:</h1>-->
    <!--<ul>-->
        <!--{% for post in site.posts %}-->
        <!--<li>-->
            <!--<span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>-->
        <!--</li>-->
        <!--{% endfor %}-->
    <!--</ul>-->
<!--</div>-->